<html>

<head>
    <script src="{{ STATIC_URL }}jquery-1.11.1.js"></script>
    <script type="text/javascript">
        var act_st_param = 'act_stat_id';
        {# Доп функция по обработке параметров при успехе #}
        var extraSuccess = function (extraData) {
            return function (data, textStatus, jqXHR) {
                var id = extraData['sch_id'];
                var text = extraData['text'];
                console.log(id) {% comment %}todo: Wrong ID here!!!! Check!!!!{% endcomment %}
                updateStatus(id, data);
            }
        }

        {#        Успех от Do Action#}
        var extraSuccessAct = function (extraData) {
            return function (data, textStatus, jqXHR) {
                var id = extraData[act_st_param];
                var text = extraData['text'];
                $("#act_ajax_st_" + id).text(text);
                $("#act_ajax_st_" + id).css("color", 'green');
            }
        }

        var extraErrorAct = function (extraData) {
            return function (jqXHR, textStatus, errorThrown) {
                var id = extraData[act_st_param];
                var text = extraData['text'];
                $("#act_ajax_st_" + id).text(text);
                $("#act_ajax_st_" + id).css("color", 'red');

            }
        }


        $(document).ready(function () {
            {#            Активация расписания#}
            $(".sched_act_start").click(function () {
                var sch_id = $(this).attr("id").substring($(this).attr("id").lastIndexOf("_") + 1);
                var requestData = {sch_id: sch_id, csrfmiddlewaretoken: '{{ csrf_token }}' };
                var extra = {sch_id: $(this).attr("id"), text: "Запланировано"};

                // Send the data using post
                $.ajax({
                    url: "{% url "start_sch" rasp.id %}",
                    type: "POST",
                    data: requestData,
                    success: extraSuccess(extra),
                    error: function (jqXHR, textStatus, errorThrown) {
                        {#                        $("#ajax_status_" + schedule_id).val(textStatus)#}
                    }
                });
            });

            {#            Остановка расписания#}
            $(".sched_act_stop").click(function () {
                var sch_id = $(this).attr("id").substring($(this).attr("id").lastIndexOf("_") + 1);
                var requestData = {sch_id: sch_id, csrfmiddlewaretoken: '{{ csrf_token }}' };
                var extra = {sch_id: $(this).attr("id"), text: "Остановлен"};

                $.ajax({
                    url: "{% url "stop_sch" rasp.id %}",
                    type: "POST",
                    data: requestData,
                    success: extraSuccess(extra),
                    error: function (jqXHR, textStatus, errorThrown) {
                        {#                        $("#ajax_status_" + schedule_id).val(textStatus)#}
                    }
                });
            });

            {# Непосредственное действие #}
            $(".act_button").click(function () {
                var act_id = $(this).attr("id");
                var cell_id = $(this).parent().attr("id");
                var stat_id = cell_id + "_" + act_id;

                var requestData = {action_id: act_id, csrfmiddlewaretoken: '{{ csrf_token }}'};

                var extraSucc = { text: "ok"};
                extraSucc[act_st_param] = stat_id;

                var extraError = {text: "err"};
                extraError[act_st_param] = stat_id;

                $.ajax({
                    url: "{% url "do_act" rasp.id %}",
                    type: "POST",
                    data: requestData,
                    success: extraSuccessAct(extraSucc),
                    error: extraErrorAct(extraError)
                });
            });
        });


    </script>
    <link rel="stylesheet" href="{{ STATIC_URL }}main.css" type="text/css">
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td style="align-content: flex-start; " colspan="3"><h3
                style="color: rgb(9, 46, 32);display: block;font-family: 'Trebuchet MS', sans-serif;font-size: 26px;font-style: normal;font-variant: normal;font-weight: normal;height: 30px;">
            Управление домом({{ rasp.name }})
        </h3></td>
    </tr>
    <tr>
        <td style="background: #417690;color: #ffc; padding-left: 5px; " colspan=3"><h1>Задачи</h1></td>
    </tr>

    {% for row in ret_list %}
        <tr valign="top">
            {% for cell in row %}
                <td style="border: solid 1px grey;width: 33%;height: 100%;">
                    <div class="wrapper">
                        <div id="div_top">
                            <table width="100%" border="1">
                                <tr valign="middle">
                                    <td rowspan="2" width="50%">
                                        <h1 style="color: #666;font-family: 'Lucida Grande',Verdana,Arial,sans-serif;font-size: 18px;">{{ cell.name }}:</h1>

                                    </td>
                                    <td width="50%">Статус:<label id="status_{{ cell.id }}"
                                                                  style="font-weight: normal !important;color: #666;font-size: 16px;"
                                                                  class="status_labels">{{ cell.status }}</label>
                                    </td>
                                </tr>
                                <tr valign="middle">
                                    <td style="vertical-align: bottom">
                                        <input type="button" value="Старт" id="sched_btn_start_{{ cell.id }}"
                                               class="sched_act_start"
                                               style="height: 100%"/>
                                        <input type="button" value="Стоп" id="sched_btn_stop_{{ cell.id }}"
                                               class="sched_act_stop"
                                               style="height: 100%"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="div_middle">
                            <table style="padding-left: 5px;padding-right: 5px; padding-top: 5px " cellspacing="0"
                                   width="100%"
                                   border="0">
                                <thead>
                                <tr>
                                    <th align="center" style="border: solid lightblue 1px;border-right: none">Действие
                                    </th>
                                    <th align="center" style="border: solid lightblue 1px;border-right: none">AJAX</th>
                                    <th align="center" style="border: solid lightblue 1px">Статус</th>
                                    <th align="center" style="border: solid lightblue 1px">Время запуска</th>
                                    <th align="center" style="border: solid lightblue 1px">Пропуск</th>
                                    <th align="center" style="border: solid lightblue 1px">Коммент</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for actsched in cell.actionschedules_set.all %}
                                    <tr align="center">
                                        <td style="border: solid lightblue 1px; border-top: none;border-right: none">
                                            {% comment %}todo: Допилить{% endcomment %}
                                            <div id="{{ cell.id }}_{{ forloop.counter }}">
                                                <input type="button" value="{{ actsched.action.name }}"
                                                       id="{{ actsched.action.id }}"
                                                       style="width: 100%" class="act_button"/>
                                            </div>
                                        </td>
                                        <td style="border: solid lightblue 1px; border-top: none; border-right: none">
                                            <label style="color: green"
                                                   id="act_ajax_st_{{ cell.id }}_{{ forloop.counter }}_{{ actsched.action.id }}">--</label>
                                        </td>
                                        <td style="border: solid lightblue 1px; border-top: none">
                                            <label style="font-weight: normal !important;color: #666;font-size: 14px;">{{ actsched.status }}</label>
                                        </td>
                                        <td style="border: solid lightblue 1px; border-top: none">
                                            <label style="font-weight: normal !important;color: #666;font-size: 14px;">{{ actsched.start_time }}</label>
                                        </td>
                                        <td style="border: solid lightblue 1px; border-top: none">
                                            <label style="font-weight: normal !important;color: #666;font-size: 14px;">{{ actsched.skip }}</label>
                                        </td>
                                        <td style="border: solid lightblue 1px; border-top: none">
                                            <label style="font-weight: normal !important;color: #666;font-size: 14px;">{{ actsched.comment }}</label>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="div_bottom">
                            <table style="padding-top: 20px; " width="100%">
                                <tr>
                                    <td colspan="3">AJAX request details:</td>
                                </tr>
                                <tr>
                                    <td colspan="3"><input type="text" value="" id="ajax_status_{{ cell.id }}"
                                                           style="width: 100%"/></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<script>
    function updateStatus(sched_id, status) {
        var start_btn = $("#sched_btn_start_" + sched_id);
        var stop_btn = $("#sched_btn_stop_" + sched_id);
        var statusElem = $("#status_" + sched_id);
        {#                console.log(sched_id);#}
        {#        console.log(statusElem.text());#}
        {#                console.log(start_btn);#}
        {#                console.log(start_btn.value);#}
        {#        console.log(status)#}
        if (status == 'S') {
            statusElem.text("Остановлен");
            {#            console.log("Остановлен");#}
            start_btn[0].disabled = false;
            stop_btn[0].disabled = true;
        }

        if (status == 'P') {
            statusElem.text("Запланирован");
            {#            console.log("Запланирован");#}
            start_btn[0].disabled = true;
            stop_btn[0].disabled = false;
        }

        if (status == 'R') {
            statusElem.text("Выполняется");
            {#            console.log("Выполняется");#}
            start_btn[0].disabled = true;
            stop_btn[0].disabled = false;
        }
    }

    $(document).ready(function () {
        $("label.status_labels").each(function () {
            updateStatus($(this).attr("id").substr($(this).attr("id").indexOf("_") + 1), $(this).text());
        });
    });

</script>

</body>
</html>