<html>

<head>
    <script src="{{ STATIC_URL }}jquery-1.11.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {% comment %} $("#result").value = "No actions"
         $("div#preload h2").html("Some Text Here")
         $(".test").click(function () {
             $.post("{% url "ajax" rasp.id %}",
                     {
                         type: "SINGLE",
                         action: $(this).attr("name"),  //The name of action which is passed to the view
                         csrfmiddlewaretoken: '{{ csrf_token }}'
                     },
                     function (data, status) {
                         alert("Data: " + data + "\nStatus: " + status);
                         $("#result").val(data + " = " + status)
                     })
                     .fail(function (xhr, ajaxOptions, thrownError) {
                         $("div#preload h2").html(xhr.message);

                     });
             return false;
         });
         $(".sched").click(function () {
             $.post("{% url "sch" rasp.id %}",
                     {
                         type: "SCHEDULE",
                         sch_id: $(this).attr("id"),
                         action: $(this).attr("name"),  //The name of action which is passed to the view
                         csrfmiddlewaretoken: '{{ csrf_token }}'
                     },
                     function (data, status) {
                         {#                            alert("Data: " + data + "\nStatus: " + status);#}
                         $("#result").val(data + " = " + status)
                     })
                     .fail(function (xhr, ajaxOptions, thrownError) {
                         $("div#preload h2").html(xhr.message);

                     });
             return false;
         });
     });{% endcomment %}
            {#            Активация расписания#}
            $(".sched_act_start").click(function () {
                  var requestData = {schedule_id: "1"};
                  alert("Before call"+"{% url "sch"  rasp.id %}")
                  // Send the data using post
                   $.post("{% url "start_sch" rasp.id %}",{
                            csrfmiddlewaretoken: '{{ csrf_token }}'},
                  function (data, status) {
                            {#                            alert("Data: " + data + "\nStatus: " + status);#}
                            $("#result").val(data + " = " + status)
                        });
                  alert("After call")
              });

              {#            #}
              $(".sched_act_stop").click(function () {
                  alert("kuku2, id = " + $(this).attr("id"));
              });
              {% comment %}  $.post("{% url "sch" rasp.id %}",
                        {
                            type: "SCHEDULE",
                            sch_id: $(this).attr("id"),
                            action: $(this).attr("name"),  //The name of action which is passed to the view
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        function (data, status) {
                            {#                            alert("Data: " + data + "\nStatus: " + status);#}
                            $("#result").val(data + " = " + status)
                        })
                        .fail(function (xhr, ajaxOptions, thrownError) {
                            $("div#preload h2").html(xhr.message);

                        });
                return false;
            });{% endcomment %}

        })

    </script>

    <link rel="stylesheet" href="{{ STATIC_URL }}main.css" type="text/css">
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td style="align-content: flex-start; " colspan="3"><h3
                style="color: rgb(9, 46, 32);display: block;font-family: 'Trebuchet MS', sans-serif;font-size: 26px;font-style: normal;font-variant: normal;font-weight: normal;height: 30px;">
            Управление домом({{ rasp.name }})
        </h3></td>
    </tr>
    <tr>
        <td style="background: #417690;color: #ffc; padding-left: 5px; " colspan=3"><h1>Задачи:</h1></td>
    </tr>

    {% for row in ret_list %}
        <tr>
            {% for cell in row %}
                <td style="border: solid 1px grey;width: 33%;">
                    <table width="100%" border="1">
                        <tr valign="middle">
                            <td rowspan="2" width="50%">
                                <h1 style="color: #666;font-family: 'Lucida Grande',Verdana,Arial,sans-serif;font-size: 18px;">{{ cell.name }}:</h1>

                            </td>
                            <td width="50%">Статус:<label
                                    style="font-weight: normal !important;color: #666;font-size: 16px;">Остановлен</label>
                            </td>
                        </tr>
                        <tr valign="middle">
                            <td style="vertical-align: bottom">
                                <input type="button" value="Старт" id="{{ cell.id }}" class="sched_act_start"
                                       style="height: 100%"/>
                                <input type="button" value="Стоп" id="{{ cell.id }}" class="sched_act_stop"
                                       style="height: 100%"/>
                            </td>
                        </tr>
                    </table>

                    <table style="padding-left: 5px;padding-right: 5px;padding-top: 5px " cellspacing="0" width="100%"
                           border="0">
                        <thead>
                        <tr>
                            <th align="centre" style="border: solid lightblue 1px;border-right: none">Действие</th>
                            <th align="centre" style="border: solid lightblue 1px;border-right: none">AJAX</th>
                            <th align="centre" style="border: solid lightblue 1px">Статус</th>
                            <th align="centre" style="border: solid lightblue 1px">Время запуска</th>
                            <th align="centre" style="border: solid lightblue 1px">Пропуск</th>
                            <th align="centre" style="border: solid lightblue 1px">Коммент</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for actsched in cell.actionschedules_set.all %}
                            <tr align="center">
                                <td style="border: solid lightblue 1px; border-top: none;border-right: none">
                                    <input type="button" value="{{ actsched.action.name }}" style="width: 100%"/>
                                </td>
                                <td style="border: solid lightblue 1px; border-top: none; border-right: none">
                                    <label style="color: green">--</label>
                                </td>
                                <td style="border: solid lightblue 1px; border-top: none">
                                    <label style="font-weight: normal !important;color: #666;font-size: 14px;">{{ actsched.status }}</label>
                                </td>
                                <td style="border: solid lightblue 1px; border-top: none">
                                    <label style="font-weight: normal !important;color: #666;font-size: 14px;">{{ actsched.start_time }}</label>
                                </td>
                                <td style="border: solid lightblue 1px; border-top: none">
                                    <label style="font-weight: normal !important;color: #666;font-size: 14px;">{{ actsched.skip }}</label>
                                </td>
                                <td style="border: solid lightblue 1px; border-top: none">
                                    <label style="font-weight: normal !important;color: #666;font-size: 14px;">{{ actsched.comment }}</label>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <table style="padding-top: 20px" width="100%">
                        <tr>
                            <td colspan="3">Last AJAX result</td>
                        </tr>
                        <tr>
                            <td colspan="3"><input type="text" value="Test result" style="width: 100%"/></td>
                        </tr>
                    </table>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

</body>
</html>