 .inactive {
            color: red;
        }

        .active {
            color: green;
        }

        .left {
            float: left;
        }

        .w50 {
            width: 50%;
        }